.App {
  background-image: linear-gradient(to left top, #984b43, #233237);
}

button {
  background-color: #eac67a;
}

h3 {
  color: #eac67a;
}

ul li {
  color: #eac67a;
}
p {
  color: white;
}
a {
  color: white;
}
/* Style guide:
  Navy blue: #18121E
  Gunmetal: #233237
  Rusty Red: #984B43
  Warm Yellow: #EAC67A
*/
